.modal__main {
    flex: 1 1 auto;
}
.modal__input_title {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px 10px 10px;
}
.modal__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    div {
        display: flex;
        gap: 10px;
    }
}